.nameChip {
  display: inline-block;
  padding: 2px 8px;
  border-radius: 100px;
  background: #f1f2f4;
  font-size: 13px;
  color: #262626;
  line-height: 1.4;
  max-width: 100px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
