@primary-color: #3682fe;

.container {
  flex: auto;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.header {
  padding: 32px 20px;
  font-size: 20px;
  font-weight: bold;
  border-bottom: 1px solid rgba(234, 234, 234, 1);
  flex: none;
}

.homeTitle {
  font-size: 24px;
  font-weight: bold;
  padding: 24px 20px 0;
}

.homePanel {
  margin: 20px;
  background-color: rgba(244, 244, 246, 1);
  border: 1px solid rgba(234, 234, 234, 1);
  border-radius: 16px;
  padding: 0 24px;
  flex: auto;
  overflow: auto;

  &.tasks {
    flex: none;
  }
}

.taskCardWrapper {
  display: flex;
  gap: 12px;
  margin: 20px 0;
}

.taskCard {
  background-color: white;
  border-radius: 24px;
  width: 350px;
  padding: 20px;

  .taskCardTitle {
    font-size: 16px;
    font-weight: bold;
    border-left: 4px solid @primary-color;
    margin-left: -20px;
    padding-left: 20px;
  }

  .taskCardHint {
    font-size: 14px;
    margin-top: 8px;
    padding: 0 5px;
  }
}

.main {
  flex: auto;
  overflow: auto;
}

.title {
  font-size: 20px;
  font-weight: bold;
  margin: 12px 0;
}

.recommendedJobCard {
  background-color: white;
  border-radius: 16px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 12px;
  padding: 20px;
  cursor: pointer;
  margin-bottom: 16px;
}

.jobName {
  font-size: 18px;
  font-weight: bold;
}

.tags {
  display: flex;
  margin-top: 12px;
}

.companyName {
  padding: 4px 16px;
  background-color: rgba(252, 240, 255, 1);
  border-radius: 44px;
  color: rgba(146, 115, 163, 1);
}

.status {
  padding: 4px 16px;
  border-radius: 44px;

  &.accepted {
    background-color: rgba(229, 247, 247, 1);
    color: rgba(31, 172, 106, 1);
  }

  &.rejected {
    background-color: rgba(255, 246, 246, 1);
    color: rgba(255, 102, 102, 1);
  }
}
