.uploadHint {
  color: #667085;
  font-size: 12px;
}

.uploadTitle {
  margin-bottom: 4px;
  font-size: 14px;
}

.materialUpload {
  :global(.ant-upload.ant-upload-drag) {
    border-radius: 8px;
  }
}

.fileNameText {
  margin-top: 8px;
  color: #344054;
  font-size: 13px;
}

.footer {
  display: flex;
  justify-content: space-between;
  gap: 12px;
  margin-top: 50px;

  & > button {
    flex: 1;
  }
}
