.container {
  flex: auto;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.header {
  padding: 32px 20px;
  font-size: 20px;
  font-weight: bold;
  border-bottom: 1px solid rgba(234, 234, 234, 1);
  flex: none;
}

.markdownWrapper {
  flex: auto;
  overflow: auto;
  margin: 20px;
  padding: 0 24px;
  background-color: rgba(244, 244, 246, 1);
  border: 1px solid rgba(234, 234, 234, 1);
  border-radius: 16px;
}

.footer {
  margin: 0 auto 20px;
}
