@top: 10px;
@primary-color: #3682fe;
@padding-width: 160px;

.container {
  position: relative;
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 20px;
  left: 20px;
  z-index: 1000;
  .step {
    position: relative;
    padding-bottom: 24px;
    padding-left: 12px;
    border-left: 2px solid transparent;
    min-height: 34px;

    &:not(:last-child) {
      border-left: 2px solid #e6eaef;
    }

    &.active {
      .dot {
        background-color: @primary-color;
      }

      .stepContent {
        color: @primary-color;
      }
    }
  }

  .dot {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: #8491a5;
    position: absolute;
    left: -5px;
  }

  .stepContentContainer {
    position: relative;
    top: -5px;
  }

  .stepContent {
    font-size: 14px;
    color: #666;
    white-space: nowrap;
  }

  .stepTime {
    font-size: 14px;
    color: #999;
    white-space: nowrap;
  }

  .stepTimeValue {
    color: @primary-color;
  }
}
