@primary-color: #1fac6a;

.container {
  height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.header {
  flex: none;
  height: 100px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.banner {
  height: 52px;
  width: auto;
}

.stepWrapper {
  display: flex;
  gap: 10px;
  width: 450px;
  margin-top: 30px;
}

.step {
  flex: none;

  color: rgba(153, 153, 153, 1);
  &::before {
    content: "";
    display: block;
    width: 220px;
    height: 7px;
    margin-bottom: 5px;
    background-color: rgba(234, 234, 234, 1);
  }

  &.active {
    color: @primary-color;
    font-weight: bold;
    &::before {
      background-color: @primary-color;
    }
  }
}

.main {
  flex: auto;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(247, 248, 250, 1);
}

.chatWrapper {
  flex: auto;
  width: 1000px;
  display: flex;
  overflow: hidden;
  margin-top: 30px;
}
