@primary-color: #3682fe;
@hover-button-bg-color: #edf2ff;
@main-width: 800px;

.container {
  flex: auto;
  display: flex;
  overflow: hidden;
  align-items: center;
  justify-content: center;

  :global {
    .ant-float-btn {
      bottom: 120px;
      right: 60px;
    }
  }
}

.conversation {
  min-width: calc(@main-width + 20px);
  flex: auto;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  height: 100%;
  position: relative;

  &.collapsed {
    width: calc(@main-width + 80px);
    flex: none;
    .listArea,
    .footer {
      padding: 0 40px;
    }
  }
}

.sideDocument {
  flex: auto;
  height: 100%;
  background-color: #f6f6f6;
  padding: 20px;
  display: flex;
  flex-direction: column;
  overflow: auto;

  .sideDocumentHeader {
    display: flex;
    justify-content: space-between;
  }

  .sideDocumentOperations {
    display: flex;
    gap: 12px;
    align-items: center;
  }

  .sideDocumentOperationSeparator {
    height: 16px;
    border-left: 1px solid #dddddd;
  }

  .sideDocumentContent {
    background-color: white;
    padding: 22px 24px;
    border-radius: 4px;
    margin-top: 20px;

    :global {
      h1,
      h2,
      h3,
      h4,
      h5,
      h6 {
        font-size: 16px;
      }

      ul,
      ol {
        background-color: #eff3fe;
        border-radius: 16px;
        padding: 16px 32px;
      }

      ul,
      ol {
        ul,
        ol {
          background-color: #e0e7fa;
        }
      }
    }
  }
}

.chatArea {
  flex: auto;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  width: 100%;
  margin: 0 auto;
}

.listArea {
  flex: 1;
  overflow: auto;
  padding: 0 calc((100% - @main-width - 15px) / 2);
}

.timestamp {
  color: #999999;
  margin-left: 8px;
  font-size: 14px;
  font-weight: normal;
}

.buttonContainer {
  text-align: center;
  .buttonHint {
    font-size: 14px;
    color: rgba(153, 153, 153, 1);
    margin-top: 8px;
  }
}

.footer {
  margin-top: 16px;
  padding: 0 calc((100% - @main-width) / 2);
}

.inputAreaContainer {
  border: 1px solid rgba(246, 246, 246, 1);
  box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.05);
  margin-top: 20px;
  display: flex;
  border-radius: 16px;
  padding: 7px 8px;
  align-items: center;
}

.inputPanel {
  flex: auto;
  display: flex;
  align-items: center;
}

.audioInputContainer {
  flex: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;

  .left {
    flex: auto;
    display: flex;
    align-items: center;
  }

  .right {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .divider {
    width: 1px;
    height: 32px;
    background-color: rgba(235, 236, 238, 1);
  }

  .volumeHistoryContainer {
    // width: 290px;
    display: flex;
    gap: 2px;
    align-items: center;
    padding: 0 16px;
    border-radius: 16px;
    height: 50px;
    background-color: rgba(245, 246, 249, 1);
    border: 1px solid rgba(191, 200, 215, 0.5);

    .volumeHistoryItem {
      width: 2px;
      height: 4px;
      background-color: rgba(187, 200, 222, 1);
      transition: all 0.3s ease;
    }

    &.active {
      background-color: @hover-button-bg-color;
      border: 1px solid @primary-color;
      .volumeHistoryItem {
        background-color: #3682fe;
        transition: none;
      }
    }
  }

  .voiceInputHint {
    font-size: 14px;
    color: rgba(153, 153, 153, 1);
    margin-left: 16px;
    text-align: center;

    .highlight {
      padding: 4px 12px;
      background-color: rgb(246, 246, 246);
      border-radius: 8px;
      border: 1px solid rgb(197, 201, 205);
      color: #999999;
      margin: 0 10px;

      &.active {
        background-color: @hover-button-bg-color;
        color: @primary-color;
        border-color: @primary-color;
      }
    }
  }
}

.textInputContainer {
  flex: auto;
  display: flex;
  align-items: center;

  .textInputLeft {
    flex: auto;
    position: relative;
  }

  .textInputArea {
    min-height: 48px !important;
    flex: 1;
    resize: none;
  }

  .sendButton {
    position: absolute;
    right: 4px;
    bottom: 4px;
    width: 40px;
    height: 40px;
    background-color: @primary-color;
    color: white;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all 0.3s ease;

    &.disabled {
      background-color: #999;
    }
  }
}

.button {
  margin: 0 22px;
  width: 40px;
  height: 40px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;

  &:hover {
    background-color: #f6f6f6;
  }
}

.messageContainer {
  color: rgb(20, 20, 19);
  width: fit-content;
  font-size: 16px;
  line-height: 1.5;
  font-family: chat-default;
  border-radius: 16px;
  background-color: white;
  letter-spacing: -0.24px;
  word-wrap: break-word;
  position: relative;

  &.editing {
    width: 100%;
  }

  &.user {
    margin-left: auto;
    max-width: 80%;
    .messageContent {
      padding: 1px 16px;
      border-radius: 16px;
      background-color: #f6f6f6;
    }

    .operationArea {
      justify-content: flex-end;
    }
  }

  &.lastMessage {
    margin-bottom: 100px;
  }

  .editingContainer {
    margin: 16px 0;
  }

  .editingButton {
    margin-top: 8px;
    display: flex;
    justify-content: flex-end;
  }

  .operationArea {
    display: flex;
    gap: 8px;
    & > span {
      color: #999999;
      width: 32px;
      height: 32px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 8px;

      &:hover {
        background-color: #f6f6f6;
      }
    }
  }
}

.preDefinedQuestionContainer {
  flex: none;
  display: flex;
  overflow-x: auto;
  gap: 8px;
  padding: 0 16px;
  flex-wrap: wrap;
  .messageCard {
    padding: 4px 8px;
    background-color: white;
    border-radius: 16px;
    width: fit-content;
    flex: none;
    display: flex;
    align-items: center;
    gap: 8px;
    cursor: pointer;
    font-size: 14px;
  }
}

@media (max-width: 768px) {
  .container {
    padding: 10px;
  }

  .timestamp {
    display: none;
  }
}

.mdEditor {
  height: 70vh;
  overflow: auto;
}

:global {
  .mdxeditor-popup-container {
    z-index: 9999;
  }
}

.inlineButtonWrapper {
  margin-top: 16px;
  display: flex;
  flex-wrap: wrap;
  gap: 8px;

  .inlineButton {
    min-width: 150px;
    height: 44px;
    font-size: 16px;
    &:hover {
      opacity: 0.8;
    }
  }
}

.uploadJdButton {
  color: @primary-color;
  margin-bottom: 16px;
  display: block;

  &:hover {
    opacity: 0.8;
  }

  :global {
    .ant-upload-drag {
      border-color: @primary-color;
      background: rgba(237, 242, 255, 1);
    }
  }
}

.tagButtonWithText {
  border-top: 1px solid #dddddd;
  margin: 12px 0;
  padding: 12px 0;
}

.hintHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.hintTitle {
  font-size: 18px;
  color: #3682fe;
  border-left: 3px solid #3682fe;
  padding-left: 10px;
}

.hintList {
  padding-left: 20px;
  color: gray;
  margin-top: 5px;
}

.languageButton {
  display: flex;
  align-items: center;
  gap: 8px;
}

.bagButton {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}
