@primary-color: #3682fe;
@hover-button-bg-color: #edf2ff;

.container {
  flex: auto;
  display: flex;
  flex-direction: column;
  overflow: hidden;

  :global {
    .ant-float-btn {
      bottom: 120px;
      right: 60px;
    }
  }
}

.chatArea {
  flex: auto;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
}

.listArea {
  flex: 1;
  overflow: auto;
  padding: 16px 0;
}

.timestamp {
  color: #999999;
  margin-left: 8px;
  font-size: 14px;
  font-weight: normal;
}

.buttonContainer {
  text-align: center;
  .buttonHint {
    font-size: 14px;
    color: rgba(153, 153, 153, 1);
    margin-top: 8px;
  }
}

.footer {
  margin-top: 16px;
}

.inputAreaContainer {
  border: 1px solid rgba(246, 246, 246, 1);
  box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.05);
  margin: 55px 4px 0;
  display: flex;
  border-radius: 16px;
  padding: 8px;
  height: 80px;
  align-items: center;
}

.inputPanel {
  flex: auto;
  display: flex;
  align-items: center;
}

.divider {
  width: 1px;
  height: 44px;
  background-color: rgba(235, 236, 238, 1);
}

.volumeHistoryContainer {
  flex: auto;
  display: flex;
  gap: 2px;
  align-items: center;
  background-color: @hover-button-bg-color;
  padding: 0 16px;
  border-radius: 16px;
  border: 1px solid @primary-color;
  height: 64px;
}

.volumeHistoryItem {
  background-color: #3682fe;
  flex: 1;
}

.audioButtonContainer {
  margin: 0 32px;
}

.switchButtonContainer {
  margin: 0 28px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.voiceInputHint {
  font-size: 14px;
  color: rgba(153, 153, 153, 1);
  margin-top: 16px;
  margin-bottom: 16px;
  text-align: center;
}

.voiceInputButton {
  width: 48px !important;
  height: 48px;
  color: gray;
  background-color: #f1f1f1;
}

.messageContainer {
  color: rgb(20, 20, 19);
  width: fit-content;
  font-size: 16px;
  line-height: 1.5;
  font-family: chat-default;
  border-radius: 16px;
  background-color: white;
  letter-spacing: -0.24px;
  word-wrap: break-word;
  position: relative;

  &.editing {
    width: 100%;
  }

  &.lastMessage {
    margin-bottom: 100px;
  }

  .editingContainer {
    margin: 16px 0;
  }

  .editingButton {
    margin-top: 8px;
    display: flex;
    justify-content: flex-end;
  }

  .operationArea {
    display: flex;
    gap: 8px;
    & > span {
      color: #999999;
      width: 32px;
      height: 32px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 8px;

      &:hover {
        background-color: #f6f6f6;
      }
    }
  }
}

.preDefinedQuestionContainer {
  flex: none;
  display: flex;
  overflow-x: auto;
  gap: 8px;
  padding: 0 16px;
  flex-wrap: wrap;
  .messageCard {
    padding: 4px 8px;
    background-color: white;
    border-radius: 16px;
    width: fit-content;
    flex: none;
    display: flex;
    align-items: center;
    gap: 8px;
    cursor: pointer;
    font-size: 14px;
  }
}

@media (max-width: 768px) {
  .container {
    padding: 10px;
  }

  .timestamp {
    display: none;
  }
}

.mdEditor {
  height: 70vh;
  overflow: auto;
}

:global {
  .mdxeditor-popup-container {
    z-index: 9999;
  }
}

.inlineButtonWrapper {
  margin-top: 16px;
  display: flex;
  flex-wrap: wrap;
  gap: 8px;

  .inlineButton {
    min-width: 150px;
    height: 44px;
    background-color: #e5e9ec;
    font-size: 16px;
    &:hover {
      color: @primary-color;
      border-color: @primary-color;
      background-color: @hover-button-bg-color !important;
    }
  }
}

.tagButtonWithText {
  border-top: 1px solid #dddddd;
  margin: 12px 0;
  padding: 12px 0;
}

.hintHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.hintTitle {
  font-size: 18px;
  color: #3682fe;
  border-left: 3px solid #3682fe;
  padding-left: 10px;
}

.hintList {
  padding-left: 20px;
  color: gray;
  margin-top: 5px;
}
