.container {
  height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.header {
  flex: none;
  height: 100px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.banner {
  height: 52px;
  width: auto;
  position: absolute;
  left: 28px;
  top: 24px;
}

.steps {
  width: 800px;
}

.main {
  flex: auto;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.uploadWrapper {
  width: 1000px;
}

.chatWrapper {
  flex: auto;
  width: 1000px;
  display: flex;
}
