.container {
  display: flex;
  padding: 20px 40px;
  flex: auto;
}

.left {
  flex: auto;
  background-color: white;
  border-radius: 16px;
  padding: 20px;
}

.right {
  width: 730px;
  flex: none;
  margin-left: 20px;
  background-color: white;
  border-radius: 16px;
  padding: 20px;
}
