@import "@/mixin.module.less";

.container {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  padding: 0 20px;

  &.noPadding {
    padding: 0;
  }
}

.cardContainer {
  flex: auto;
  overflow: auto;
  margin-top: 20px;
  margin-bottom: 20px;

  .card {
    border: 1px solid rgba(235, 236, 238, 1);
    border-radius: 12px;
    margin-bottom: 20px;
    background-color: white;
    cursor: pointer;
  }

  .card:hover {
    border-color: @primary-color;
    transition: all 0.3s ease;

    .cardHeader {
      border-bottom-color: @primary-color;
    }

    .cardFooter {
      border-top-color: @primary-color;
    }
  }

  .cardHeader {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px dashed rgba(235, 236, 238, 1);
    padding: 20px;

    .cardTitle {
      display: flex;
      align-items: center;
    }

    .cardTitleName {
      cursor: pointer;
      font-size: 16px;
      font-weight: bold;
    }

    .cardTitleResult {
      font-size: 14px;
      color: rgba(102, 102, 102, 1);
      margin-left: 12px;
    }

    .cardHeaderActions {
      display: flex;
      gap: 12px;
    }
  }

  .cardContent {
    padding: 20px;

    .basicInfo {
      display: flex;
      gap: 12px;
      align-items: center;
      overflow: hidden;

      >div {
        flex: 1;
        border: 1px solid rgba(235, 236, 238, 1);
        border-radius: 12px;
        padding: 10px 16px;
        font-size: 14px;
        overflow: hidden;

        >div {
          &:first-child {
            color: rgba(102, 102, 102, 1);
          }

          &:last-child {
            font-weight: bold;
            margin-top: 4px;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            width: fit-content;
            max-width: 100%;
          }
        }
      }
    }

    .workExperiences {
      margin: 16px 0 16px 3px;
      ;

      .workExperiencesTitle {
        font-weight: bold;
        display: flex;
        align-items: center;
        font-size: 14px;
        gap: 8px;

        &::before {
          content: "";
          width: 6px;
          height: 6px;
          border-radius: 50%;
          outline: 3px solid rgba(54, 130, 254, 0.1);
          background-color: @primary-color;
        }
      }

      .workExperienceItem {
        margin-top: 12px;
        display: flex;
        gap: 16px;
        align-items: center;
        margin-left: 20px;
        font-size: 14px;

        &:before {
          content: "";
          width: 4px;
          height: 4px;
          background-color: black;
        }

        .workExperienceItemSeparator {
          color: #999;
        }

        .workExperienceItemCompanyName {
          font-style: italic;
          font-family: Helvetica Neue, PingFang SC, sans-serif;
          font-weight: bold;
        }

        .workExperienceItemDuration {
          padding-left: 12px;
          border-left: 1px solid rgba(235, 236, 238, 1);
          color: #999;
        }
      }
    }

    .evaluateSummary {
      display: flex;
      align-items: flex-start;
      gap: 8px;
      margin-top: 20px;

      :global {
        .perse-icon {
          font-size: 16px;
          color: rgba(249, 169, 48, 1)
        }
      }
    }

    .evaluateDetails {
      margin-top: 30px;
      display: flex;
      align-items: flex-start;
      gap: 16px;

      .evaluateDetailsItem {
        flex: 1;
        border-radius: 12px;
        padding: 16px;

        &.strengths {
          background-color: rgba(243, 251, 244, 1);

          .evaluateDetailsItemIcon {
            color: rgba(38, 188, 93, 1);
          }
        }

        &.gaps {
          background-color: rgba(255, 249, 245, 1);

          .evaluateDetailsItemIcon {
            color: rgba(249, 169, 48, 1);
          }
        }

        .evaluateDetailsItemTitle {
          font-weight: bold;
          font-size: 14px;
          display: flex;
          align-items: center;
          gap: 12px;
        }

        .evaluateDetailsItemIcon {
          font-size: 20px;
        }

        .evaluateDetailsItemContent {
          display: flex;
          align-items: flex-start;
          gap: 16px;
          margin-left: 8px;
          margin-top: 8px;
          font-size: 14px;

          &:before {
            content: "";
            width: 4px;
            height: 4px;
            background-color: black;
            margin-top: 10px;
          }
        }
      }
    }
  }

  .cardFooter {
    border-top: 1px dashed rgba(235, 236, 238, 1);
    padding: 20px;

    .cardFooterContent {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    .cardFooterStatus {
      padding: 4px 16px;
      border-radius: 16px;
      width: fit-content;
      font-size: 14px;

      &.rejected {
        color: rgba(224, 61, 61, 1);
        background-color: rgba(255, 242, 242, 1);
      }

      &.interview_scheduled,
      &.waiting_for_screening {
        background-color: rgba(237, 242, 255, 1);
        color: @primary-color;
      }
    }

    .cardFooterInterviewInfo {
      display: flex;
      gap: 24px;
      margin-top: 12px;

      .cardFooterInterviewInfoItem {
        display: flex;
        align-items: center;
        gap: 8px;
        font-size: 14px;

        >div:first-child {
          font-weight: bold;
        }
      }
    }

    .right {
      display: flex;
      font-size: 14px;

      .cardFooterSourceChannel {
        margin-left: 24px;
        padding-left: 24px;
        border-left: 1px solid rgba(235, 236, 238, 1);
        color: @primary-color;
      }
    }

    .cardFooterFeedback {
      margin-top: 20px;
      background-color: rgba(255, 242, 242, 1);
      padding: 12px;
      border-radius: 8px;
      font-size: 14px;

      >span {
        color: rgba(224, 61, 61, 1);
        font-weight: bold;
        margin-right: 8px;
      }
    }
  }
}