.container {
  width: 100%;
  height: 100%;
  padding: 20px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.pageTitle {
  margin-bottom: 0 !important;
  flex-shrink: 0;
}

.messageSection {
  width: 800px;
  margin: auto;
  flex: auto;
  overflow: hidden;
  min-height: 0;
}
