.loginContainer {
  display: flex;
  align-items: center;
  height: 100vh;
  padding: 20px;
  background-color: white;
  overflow: hidden;
}

.imgContainer {
  overflow: hidden;
  height: 100%;
  img {
    height: 100%;
    width: auto;
  }
}

.formContainer {
  flex: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
