.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  align-items: center;
  justify-content: center;
}

.body {
  width: 80vw;
  flex: auto;
  overflow: hidden;
  display: flex;
}

.jobMain {
  overflow: auto;
  flex: auto;
  display: flex;
}

.loginContainer {
  width: 600px;
  position: relative;
  top: -100px;
}

.tabs {
  flex: none;

  :global {
    .ant-tabs-nav {
      margin-bottom: 0;
    }
  }
}
