.container {
  flex: auto;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.header {
  flex: 0;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .title {
    font-size: 16px;
  }
  .right {
    .stepItem {
      width: 110px;
      font-size: 12px;

      &.wait {
        color: #999;
      }

      &.process {
        color: #3682fe;
      }

      &.done {
        color: black;
      }
    }

    :global {
      .ant-breadcrumb ol {
        align-items: center;
        gap: 8px;
      }
    }
  }
}

.body {
  flex: auto;
  overflow: auto;
  display: flex;
}

.block {
  padding-top: 60px;
  padding-bottom: 60px;
  border-bottom: 1px solid #eee;

  :global {
    .ant-badge-dot {
      width: 10px;
      height: 10px;
    }
  }
}

.avatar {
  display: flex;
  align-items: center;
  gap: 10px;
  font-weight: bold;
  margin-bottom: 20px;
}

.buttonContainer {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
}

.talentButton {
  position: relative;

  &:hover {
    .talentDestroy {
      display: block;
    }
  }

  .talentDestroy {
    position: absolute;
    right: -4px;
    top: -4px;
    display: none;
    background-color: white;
    color: #999;
  }
}
