@primary-color: #3682fe;

.container {
  flex: auto;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.header {
  flex: 0;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .title {
    font-size: 16px;
  }
  .right {
    .stepItem {
      width: 110px;
      font-size: 12px;

      &.wait {
        color: #999;
      }

      &.process {
        color: #3682fe;
        font-weight: bold;
      }

      &.done {
        color: black;
      }
    }

    :global {
      .ant-breadcrumb ol {
        align-items: center;
        gap: 8px;
      }
    }
  }
}

.previewContainer {
  flex: auto;
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-width: 1200px;
  margin: 20px auto;

  .previewHeader {
    font-size: 14px;
    color: @primary-color;
    padding: 12px;
    border: 1px solid #2b61ff4d;
    background-color: #edf2ff;
    border-radius: 8px;
  }
}

.body {
  flex: auto;
  overflow: auto;
  display: flex;
}

.avatar {
  display: flex;
  align-items: center;
  gap: 10px;
  font-weight: bold;
  margin-bottom: 20px;
}

.buttonContainer {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
}

.talentButton {
  position: relative;

  &:hover {
    .talentDestroy {
      display: block;
    }
  }

  .talentDestroy {
    position: absolute;
    right: -4px;
    top: -4px;
    display: none;
    background-color: white;
    color: #999;
  }
}
