@primary-color: #1fac6a;

.container {
  flex: auto;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.header {
  padding: 32px 20px;
  font-size: 20px;
  font-weight: bold;
  border-bottom: 1px solid rgba(234, 234, 234, 1);
  flex: none;
  display: flex;
  align-items: center;
  gap: 10px;
}

.main {
  flex: auto;
  overflow: auto;
  padding: 20px 40px;
  display: flex;
  gap: 15px;
}

.left {
  flex: auto;
  background-color: white;
  padding: 20px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.jobApplyCard {
  background-color: white;
  border-radius: 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex: none;

  .basicInfo {
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: flex-start;
  }

  .jobName {
    font-size: 18px;
    font-weight: bold;
  }

  .tags {
    display: flex;
    margin-top: 12px;
  }

  .companyName {
    padding: 4px 16px;
    background-color: rgba(252, 240, 255, 1);
    border-radius: 44px;
    color: rgba(146, 115, 163, 1);
  }
}

.right {
  flex: none;
  width: 200px;
  display: flex;
  overflow: hidden;
  padding-left: 20px;
}

.jd {
  margin-top: 24px;
  padding: 20px 0;
  flex: auto;
  overflow: auto;
}

.interviewPanel {
  border: 1px solid rgba(234, 234, 234, 1);
  padding: 12px;
  border-radius: 8px;
  margin-top: 12px;
}

.interviewItem {
  display: flex;
  align-items: center;

  &:not(:first-child) {
    margin-top: 8px;
  }

  & > div:first-child {
    flex: none;
    width: 80px;
    font-weight: bold;
  }
  & > div:last-child {
    flex: auto;
  }
}
