.twoColumn {
  display: grid;
  gap: 16px;
  grid-template-columns: 1fr 1fr;
}

.footer {
  display: flex;
  justify-content: space-between;
  gap: 12px;
  margin-top: 50px;

  & > button {
    flex: 1;
  }
}
