@primary-color: #3682fe;

.stepContainer {
  display: flex;
  padding: 20px 0;
  width: 100%;
  gap: 8px;
  align-items: center;
  justify-content: center;

  .step {
    border-radius: 16px;
    background-color: white;
    border: 1px solid white;
    width: 140px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;

    &.active {
      border-color: @primary-color;
      color: @primary-color;
      background-color: #edf2ff;
      font-weight: bold;
    }
  }
}
