@import "@/mixin.module.less";

.filterGroup {
  display: flex;
  align-items: center;
  gap: 12px;
  color: @text-primary;
  font-size: 14px;
  line-height: 22px;
}

.filterSelectWrap {
  position: relative;
}
