.container {
  background-color: white;
  display: flex;
  height: 100vh;
}

.left {
  width: 40%;
  max-width: 780px;
  flex: none;
  border-right: 1px solid #eeeeee;
  padding: 36px 44px;
  overflow: auto;
  display: flex;
  flex-direction: column;
}

.right {
  flex: auto;
  overflow: hidden;
  display: flex;
}

.tabs {
  display: flex;
  background-color: #e5f7f7;
  padding: 4px;
  border-radius: 16px;
  flex: none;
}

.tab {
  flex: 1;
  border-radius: 16px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #1fac6a;
  cursor: pointer;
  &.active {
    transition: 0.3s all;
    background-color: #1fac6a;
    color: white;
    font-weight: bold;
  }
}

.tabContent {
  padding: 32px 0;
  flex: auto;
  overflow: auto;
}

.logo {
  width: 200px;
}

.jobName {
  font-size: 18px;
  font-weight: bold;
  margin-top: 24px;
}

.companyName {
  font-size: 16px;
  color: #999999;
  margin-top: 16px;
}

.markdownContainer {
  margin-top: 16px;
  border-top: 1px solid #eeeeee;
  padding: 16px 0;
  word-wrap: break-word;

  h1,
  h2,
  h3,
  h4 {
    font-size: 18px;
  }
}

.updatedAt {
  display: inline-block;
  background-color: #e5f7f7;
  color: #1fac6a;
  padding: 7px 16px;
  border-radius: 44px;
}
