.container {
  background-color: white;
  height: 100vh;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.header {
  flex: none;
  display: flex;
  padding: 0 36px;
  height: 80px;
  align-items: center;
  border-bottom: 1px solid #eeeeee;
}

.body {
  flex: 1;
  display: flex;
  overflow: hidden;
}

.footer {
  flex: none;
  text-align: center;
  padding: 6px 0;
  font-size: 14px;
  color: #1fac6a;
  cursor: pointer;
}

.left {
  width: 40%;
  max-width: 780px;
  flex: none;
  border-right: 1px solid #eeeeee;
  padding: 36px 44px;
  overflow: auto;
  display: flex;
  flex-direction: column;
}

.right {
  flex: auto;
  overflow: hidden;
  display: flex;
}

.tabs {
  display: flex;
  background-color: #e5f7f7;
  padding: 4px;
  border-radius: 16px;
  flex: none;
}

.logo {
  height: 60px;
  width: auto;
}

.basicInfo {
  background: linear-gradient(
    259.26deg,
    #deffc3 -2.17%,
    #d0f7b6 43.99%,
    #d6ecff 98.56%
  );
  padding: 24px 20px;
  border-radius: 16px;
}

.jobName {
  font-size: 24px;
  font-weight: bold;
}

.companyName {
  font-size: 16px;
  color: #999999;
  margin-top: 16px;
}

.more {
  display: none;
  color: #1fac6a;
}

.markdownContainer {
  padding: 16px 0;
  word-wrap: break-word;

  h1,
  h2,
  h3,
  h4 {
    font-size: 18px;
  }
}

.updatedAt {
  display: inline-block;
  background-color: #e5f7f7;
  color: #1fac6a;
  padding: 7px 16px;
  border-radius: 44px;
}

@media (max-width: 768px) {
  .container {
    height: auto;
  }

  .header {
    padding: 0 10px;
  }

  .logo {
    height: 40px;
  }

  .body {
    display: block;
  }

  .left {
    width: 100%;
    padding: 0;
  }

  .right {
    display: block;
  }

  .markdownContainer.hidden,
  .updatedAt.hidden {
    display: none;
  }

  .more {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 8px;
    gap: 8px;
  }
}
