.expiresHeader {
  display: inline-flex;
  align-items: center;
  gap: 6px;
}

.headerInfo,
.statusInfo {
  display: inline-flex;
  align-items: center;
  flex: 0 0 16px;
  margin-left: 6px;
  color: #9ca6ba;
  font-size: 16px;
}

.status {
  display: inline-flex;
  align-items: center;
  gap: 4px;
  height: 22px;
  padding: 0 12px;
  border: 1px solid transparent;
  border-radius: 999px;
  font-size: 12px;
  line-height: 18px;
}

.statusActive {
  border-color: rgba(38, 188, 93, 0.2);
  background: #f2ffea;
  color: #26bc5d;
}

.statusUpcoming {
  border-color: rgba(249, 169, 48, 0.2);
  background: #fff7e8;
  color: #eb9e2a;
}
