.container {
  flex: auto;
  padding: 40px;
  background-color: #f3f3f3;
  display: flex;
  overflow: hidden;
}

.left {
  flex: none;
  padding: 20px 0;
}

.right {
  flex: auto;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.listArea {
  flex: 1;
  overflow: auto;
  padding: 16px;
}

.timestamp {
  color: #999999;
  margin-left: 8px;
  font-size: 14px;
  font-weight: normal;
}

.inputArea {
  padding: 16px;
  border-top: 1px solid #f0f0f0;
}

.markdownContainer {
  color: rgb(20, 20, 19);
  width: fit-content;
  font-size: 15px;
  line-height: 1.5;
  font-family: chat-default;
  padding: 0 16px;
  border-radius: 16px;
  background-color: white;
  border: 1px solid rgb(230, 230, 230);
  letter-spacing: -0.24px;
  word-wrap: break-word;
  position: relative;

  code {
    font-family: chat-default;
  }

  &.user {
    background-color: rgb(246, 255, 237);
  }

  &.editing {
    width: 100%;
  }

  .editingContainer {
    margin: 16px 0;
  }

  .editingButton {
    margin-top: 8px;
    display: flex;
    justify-content: flex-end;
  }

  .operationArea {
    position: absolute;
    right: 20px;
    bottom: -20px;
  }

  ul,
  ol {
    margin: 1em 0;
  }

  h1 {
    font-size: 24px;
  }
  h2 {
    font-size: 22px;
  }

  h3 {
    font-size: 20px;
  }

  h4 {
    font-size: 18px;
  }

  h1,
  h2,
  h3,
  h4 {
    margin-block-start: 1em;
    margin-block-end: 1em;
  }
}

.preDefinedQuestionContainer {
  flex: none;
  display: flex;
  overflow-x: auto;
  gap: 20px;
  padding: 0 16px;
  .messageCard {
    padding: 24px;
    background-color: white;
    border-radius: 16px;
    width: fit-content;
    flex: none;
    display: flex;
    align-items: center;
    gap: 48px;
    cursor: pointer;
  }
}

@media (max-width: 768px) {
  .container {
    padding: 10px;
  }

  .timestamp {
    display: none;
  }

  .preDefinedQuestionContainer {
    .messageCard {
      padding: 16px;
      max-width: 80vw;
      gap: 16px;
    }
  }
}

.mdEditor {
  height: 70vh;
  overflow: auto;
}

:global {
  .mdxeditor-popup-container {
    z-index: 9999;
  }
}
