.container {
  flex: auto;
  padding: 20px;
  background-color: #f3f3f3;
  display: flex;
  overflow: hidden;

  :global {
    .ant-float-btn {
      bottom: 120px;
      right: 60px;
    }
  }
}

.right {
  flex: auto;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.listArea {
  flex: 1;
  overflow: auto;
  padding: 16px;
}

.timestamp {
  color: #999999;
  margin-left: 8px;
  font-size: 14px;
  font-weight: normal;
}

.inputArea {
  padding: 16px;
  border-top: 1px solid #f0f0f0;
}

.messageContainer {
  color: rgb(20, 20, 19);
  width: fit-content;
  font-size: 15px;
  line-height: 1.5;
  font-family: chat-default;
  padding: 0 16px;
  border-radius: 16px;
  background-color: white;
  border: 1px solid rgb(230, 230, 230);
  letter-spacing: -0.24px;
  word-wrap: break-word;
  position: relative;

  &.user {
    background-color: rgb(246, 255, 237);
  }

  &.lastMessage {
    margin-bottom: 100px;
  }
}

.preDefinedQuestionContainer {
  flex: none;
  display: flex;
  overflow-x: auto;
  gap: 8px;
  padding: 0 16px;
  flex-wrap: wrap;
  .messageCard {
    padding: 4px 8px;
    background-color: white;
    border-radius: 16px;
    width: fit-content;
    flex: none;
    display: flex;
    align-items: center;
    gap: 8px;
    cursor: pointer;
    font-size: 14px;
  }
}

@media (max-width: 768px) {
  .container {
    padding: 10px;
  }

  .timestamp {
    display: none;
  }
}
