@primary-color: #3682fe;

.container {
  flex: auto;
  display: flex;
  flex-direction: column;
  overflow: auto;
  margin-top: 64px;
  flex: auto;
}

.brand {
  width: 32px;
  height: 32px;
}

.buttons {
  flex: auto;
  display: flex;
  flex-direction: column;
}

.button {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 16px;
  border: 1px solid rgba(234, 234, 234, 1);
  border-radius: 4px;
  margin-top: 16px;
  font-weight: bold;
  cursor: pointer;
}

.signin {
  text-align: center;
  margin-top: 32px;
}

.hint {
  font-size: 24px;
  color: #a1a1a1;
  margin-bottom: 60px;
}
