@import "@/mixin.module.less";

.reasonFieldLabel {
  font-size: 14px;
  margin-bottom: 12px;
  font-weight: bold;

  .requiredStar {
    color: rgba(224, 61, 61, 1);
    margin-right: 4px;
  }
}

.reasonPillsRow {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

.reasonPill {
  height: auto;
  padding: 8px 16px;
  border-radius: 8px;
  font-size: 14px;
  line-height: 1.4;

  &:hover,
  &.selected {
    border-color: @primary-color;
  }

  &:global(.ant-btn:focus),
  &:global(.ant-btn:focus-visible) {
    outline: none !important;
    box-shadow: none !important;
  }
}

.evaluateFeedbackReason {
  margin-top: 24px;
  margin-bottom: 12px;
  font-weight: bold;
}
