@primary-color: #3682fe;

.container {
  height: 100vh;
  min-width: 1300px;
  overflow: hidden;
  display: flex;
  flex-direction: column;

  &.mobile {
    min-width: 0;
  }
}

.header {
  flex: none;
  height: 100px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.banner {
  height: 52px;
  width: auto;
  cursor: pointer;
}

.form {
  max-width: 800px;
  margin: 0 auto;
  overflow: auto;
  padding: 20px;
}

.modeContainer {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.modeItem {
  border-radius: 12px;
  padding: 20px;
  border: 1px solid rgba(234, 234, 234, 1);
  cursor: pointer;

  .modeItemTitle {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 10px;
  }

  .modeItemList {
    list-style: disc;
    padding-left: 20px;
  }

  &.active {
    border-color: @primary-color;
    .modeItemTitle {
      color: @primary-color;
    }
  }
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 16px;

  .back {
    cursor: pointer;
  }
}

.title {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 20px;
  text-align: center;
}

.hint {
  font-size: 14px;
  color: rgba(153, 153, 153, 1);
  padding: 20px 0;
}

.conversation {
  width: 1300px;
  flex: auto;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.main {
  flex: auto;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
}

.body {
  flex: auto;
  overflow: auto;
  width: 100%;
}

.chatWrapper {
  flex: auto;
  width: 1000px;
  display: flex;
  overflow: hidden;
  margin-top: 30px;
}

.stepContainer {
  border-top: 1px solid rgba(234, 234, 234, 1);
  border-bottom: 1px solid rgba(234, 234, 234, 1);
}
