:root {
  font-family: "Sora", "PingFang SC", "Lantinghei SC", "Microsoft YaHei",
    "HanHei SC", "Helvetica Neue", "Open Sans", Arial, "Hiragino Sans GB",
    微软雅黑, STHeiti, SimSun, sans-serif !important;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;

  color: #333333;
  background-color: #ffffff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
}

::-webkit-scrollbar-thumb {
  border-radius: 3px;
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

* {
  font-family: inherit;
  scrollbar-color: transparent transparent;
}

:hover {
  scrollbar-color: rgba(0, 0, 0, 0.25) transparent;
}

@font-face {
  font-family: "Sora";
  src: url("/sora-regular.ttf");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Sora";
  src: url("/sora-semi-bold.ttf");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "persevio-default";
  src: url("/default-font.ttf");
}

@font-face {
  font-family: "chat-default";
  src: url("/sora-regular.ttf");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "chat-default";
  src: url("/sora-semi-bold.ttf");
  font-weight: 600;
  font-style: normal;
}

div {
  box-sizing: border-box;
}

a {
  font-weight: normal;
  color: #3682fe;
  text-decoration: inherit;
}

a:hover {
  color: #3682fe;
}

body {
  margin: 0;
  height: 100vh;
  height: 100svh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

button {
  background-color: #f9f9f9;
}

img {
  width: 100%;
}

#root {
  width: 100%;
  height: 100%;
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.gap-12 {
  gap: 12px;
}

.fs-20 {
  font-size: 20px;
}

.fs-20-b {
  font-size: 20px;
  font-weight: bold;
}

.fs-36 {
  font-size: 36px;
}

.fs-36-b {
  font-size: 36px;
  font-weight: bold;
}

.ant-select-item-option-content {
  white-space: normal !important; /* 允许文本换行 */
  word-break: break-word !important; /* 强制单词在必要时断开 */
  /* 你可能还需要调整行高或其他布局属性 */
}

.ant-modal {
  .ant-modal-title {
    font-size: 18px;
  }
  .ant-modal-content {
    border-radius: 16px;
  }
}

.ant-slider .ant-slider-track {
  background: linear-gradient(90deg, #b3d0ff 0%, #3682fe 100%) !important;
}

.ant-slider .ant-slider-rail,
.ant-slider:hover .ant-slider-rail {
  background: white;
}
