.adminContainer {
  width: 100%;
  padding: 20px;
  font-family: sans-serif;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.adminPageHeader {
  font-size: 24px;
  font-weight: bold;
  flex: none;
}

.adminFilter {
  margin-top: 20px;
  display: flex;
  flex: none;
  gap: 12px;
}

.adminFilterItem {
  display: flex;
  align-items: center;
  gap: 12px;
}

.adminMain {
  margin-top: 20px;
  flex: auto;
  overflow: hidden;
}

.status {
  padding: 4px 16px;
  border-radius: 44px;

  &.accepted {
    background-color: rgba(229, 247, 247, 1);
    color: rgba(31, 172, 106, 1);
  }

  &.rejected {
    background-color: rgba(255, 246, 246, 1);
    color: rgba(255, 102, 102, 1);
  }
}

.jobApplyDetail {
  display: flex;
  flex: auto;
  overflow: hidden;
}

.jobApplyPanel {
  flex: 1;
  overflow: auto;
  padding: 20px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.jobApplyPanelTitle {
  font-size: 18px;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
