.adminContainer {
  width: 100%;
  padding: 20px;
  font-family: sans-serif;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.adminPageHeader {
  font-size: 24px;
  font-weight: bold;
  flex: none;
}

.adminFilter {
  margin-top: 20px;
  display: flex;
  flex: none;
}

.adminFilterItem {
  display: flex;
  align-items: center;
  gap: 12px;
}

.adminMain {
  margin-top: 20px;
  flex: auto;
  overflow: hidden;
}
