.container {
  width: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;

  &.isEmpty {
    align-items: center;
    justify-content: center;
  }

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    border-bottom: 1px dashed rgba(235, 236, 238, 1);

    .title {
      font-size: 20px;
      font-weight: bold;
    }
  }

  .filterSection {
    display: flex;
    gap: 16px;
    padding: 20px 20px 0 20px;
    flex-wrap: wrap;

    .filterItem {
      display: flex;
      align-items: center;
      gap: 8px;
    }
  }

  .table {
    width: 100%;
    overflow: auto;
    flex: auto;
    padding: 20px;

    :global {
      table {
        border-left: 1px solid #ebecee;
        border-right: 1px solid #ebecee;
      }

      .ant-table-thead th {
        background-color: #e9ecee !important;
      }
    }

    .actions {
      display: flex;
      gap: 4px;
    }
  }
}
