@import "@/mixin.module.less";

.container {
  flex: 1;
  min-height: 0;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.header {
  flex: none;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .title {
    font-size: 20px;
    font-weight: bold;
  }
}

.tabs {
  flex: 1;
  min-height: 0;
  display: flex;
  flex-direction: column;
  overflow: hidden;

  .tabsLabel {
    display: flex;
    align-items: center;
    gap: 8px;
    position: relative;

    :global(.perse-icon) {
      font-size: 20px;
    }

    .unviewedTalentBadge {
      position: absolute;
      display: flex;
      align-items: center;
      justify-content: center;
      right: -16px;
      top: -8px;
      background-color: @red-color;
      color: white;
      border-radius: 50%;
      width: 18px;
      height: 18px;
      font-size: 10px;
    }
  }

  :global {
    .ant-tabs {
      height: 100%;
      display: flex;
      flex-direction: column;
      overflow: hidden;
    }

    .ant-tabs-nav {
      flex: none;
      padding: 0 32px;

      &:before {
        border-bottom-style: dashed;
      }
    }

    .ant-tabs-tab {
      color: #999999;
    }

    .ant-tabs-content {
      flex: 1;
      height: 100%;
      overflow: hidden;
    }

    .ant-tabs-content-holder {
      height: 100%;
      overflow: auto;
    }

    .ant-tabs-tabpane {
      height: 100%;
    }
  }
}

.body {
  height: 100%;
  min-height: 0;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  padding: 0 20px 20px 20px;
}

.subTabsWrap {
  flex: none;
  width: 520px;
  margin-bottom: 16px;
}

.jobReqContent {
  flex: 1;
  min-height: 0;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.placeholder {
  padding: 40px;
  text-align: center;
  color: #999;
  font-size: 14px;
}
