@primary-color: #3682fe;

.container {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  width: 100%;
  padding: 20px;
}

.header {
  flex: none;
  display: flex;
  gap: 20px;
  align-items: center;
  font-size: 16px;
  font-weight: bold;
  border-bottom: 1px dashed #ebecee;
  padding-bottom: 20px;
}

.main {
  flex: auto;
  overflow: hidden;
  display: flex;
}

.basicInfoContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 24px 0;
  border-bottom: 1px dashed #ebecee;

  .jobTitle {
    font-size: 20px;
    font-weight: bold;
    max-width: 500px;
  }

  .companyName {
    font-size: 16px;
    font-weight: bold;
    margin-top: 4px;
    max-width: 500px;
  }
}

.resumeContainer {
  flex: auto;
  overflow: auto;
  padding: 24px 24px 24px 0;

  .statusContainer {
    display: flex;
    gap: 12px;
    align-items: center;
    border-bottom: 1px dashed #ebecee;
    padding-bottom: 24px;
  }

  :global {
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      font-size: 16px;
    }

    ul,
    ol {
      background-color: #eff3fe;
      border-radius: 16px;
      padding: 16px 32px;
    }

    ul,
    ol {
      ul,
      ol {
        background-color: #e0e7fa;
      }
    }
  }
}

.evaluateResultContainer {
  width: 50%;
  flex: none;
  padding: 20px;
  background-color: #f6f6f6;
  border-left: 1px dashed #ebecee;
  overflow: auto;
}

.markdownContainer {
  padding: 10px 20px;
  background-color: white;
  border-radius: 8px;
  overflow: auto;

  :global {
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      font-size: 16px;
    }

    ul,
    ol {
      background-color: #fefbec;
      border-radius: 16px;
      padding: 16px 32px;
    }

    ul,
    ol {
      ul,
      ol {
        background-color: #fbf4d5;
      }
    }
  }
}

.evaluateResultTitle {
  font-size: 18px;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 12px;
}

@media (max-width: 768px) {
  .main {
    display: block;
    overflow: auto;
  }

  .resumeContainer {
    padding-right: 0;
  }

  .evaluateResultContainer {
    width: 100%;
  }
}
